.aboutdetails{
    margin-top:8.9vh;
    margin-left: 19.9vh;
    background-color: aqua;
    height: 91vh;
    position: fixed;
    width: 192vh;
}
#head{
    margin-top: 8vh;
    margin-left: 88vh;
}

