.forgetPassword{
    margin-left:145px ;
    margin-right: 10vh;
    margin-top: 65px;
    background-color: rgb(255, 0, 0); 
    padding-left: 50px; 
    height: 80vh;
    padding-top: 80px;
    position: fixed;
    width: 184vh;
    
    background-image: url('./Images/login_pic.jpg');
    background-size: cover;
    
}

#forgetpasswordfieldset{
    height: 65vh;
    width: 100vh;
    margin-left: 43vh;
    margin-top: 3vh;
    border: none;
   position: relative;

}

.foverlay{
    background-color: rgba(0, 0, 0, 0.3); /* Black background with 50% transparency */
    position: absolute; /* Position it absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Cover the entire fieldset */
    z-index: 0; /* Behind the content */
    filter: blur(1px);
}
#fmodify{
    z-index: 1;
    position: relative;

    margin-top: 20vh;
    margin-left: 25vh;
}

#forgetpassword{
    
    color: aqua;
    font-weight: bold;
        
}

#phone{
    margin-left: 3vh;
    border-color: blueviolet;
    border-radius: 2px;
    background: none;
    color: white;
    width: 34vh;
    font-size: 17px;
    
}

.pphead{
   
   margin-left: 6vh;
  font-size: 25px;
   margin-top: -12vh;
}

#phonehead{
    font-weight: bold;
    
    color: rgb(183, 221, 29);
}

#inputphone{
    margin-top: 5vh;
}
#forgetsubmit:active{
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#forgetsubmit:hover{
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    background-color: rgb(205, 122, 224);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
#forgetsubmit{
    margin-left: 18vh;
    margin-top: 10vh;
    cursor: pointer;
    color: rgb(8, 5, 5);
    background-color: aquamarine;
    border-radius: 6px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#emailforgetpassword{
    color: aqua;
    font-weight: bold;
}
  #emailffp{
    border-color: blueviolet;
    border-radius: 2px;
    background: none;
    color: white;
    height: 3vh;
    width: 35vh;
    margin-left: 3vh;
    font-size: 16px;
  }
   #emailforget{
    margin-top: 8vh;
   }
 #errorEmail{
    margin-left: 3vh;
 }

 #errorPhone{
    margin-left: 3vh;
    
 }



 #fpasswordsuccessmsg{
    color: rgb(37, 203, 56);
    font-size: 14px;
    margin-left: -20vh;
    margin-top: 4vh;
 }

 #fpasswordsuccessmsg1{
    color: rgb(218, 183, 25);
    font-size: 14px;
    margin-left: -20vh;
    
    margin-top: 4vh;
 }

 #open13{
    height: 4vh;
    width: 4vh;
    cursor: pointer;

}
#open13:hover{
    transform: scale(1.2);

}
#open12{
  
    height: 4vh;
    width: 4vh;
    margin-top: -3.5vh;
    margin-left: 57vh
}

#newpassword1{
    color: aqua;
    margin-top: 6vh;
    font-weight: bold;
    margin-left: -9vh;
}
#newpassowrd3{
    
    border-color: rgb(155, 18, 193);
    margin-left: 4vh;
    background: none;
    height: 23px;
    width: 35vh;
    color: white;
    font-size: 15px;
}


#newpassword2{
    color: aqua;
    font-weight: bold;
}