.horizontal{
    width: 105px;
    height: 100vh;
    background-color:#4b4f60 ;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
   
    padding: 20px;
    cursor: pointer;
    position: fixed;
    

}

.horizontal:hover{
    color:purple ;
    text-decoration: none;
    transition: scale(1.1);

}
#laptop{
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: none;
    color: rgb(175, 209, 41);
}

#mouse{
    margin-left: 13px;
    margin-top: 60px;
    text-decoration: none;
    color: rgb(175, 209, 41);
   
}

#keyboard{
    margin-left: 8px;
    margin-top: 60px;
    text-decoration: none;
    color: rgb(175, 209, 41);
}

#headphone{
    margin-left: 2px;
    margin-top: 60px;
    text-decoration: none;
    color: rgb(175, 209, 41);
}

#joystick{
    margin-left: 17px;
    margin-top: 60px;
    text-decoration: none;
    color: rgb(175, 209, 41);
}

#xbox{
    margin-left: 23px;
    margin-top: 60px;
    text-decoration: none;
    color: rgb(175, 209, 41);
}

#cd{
    margin-top: 60px;
   margin-left: 32px;
    text-decoration: none;
    color: rgb(175, 209, 41);
}

#psp{
    margin-top: 60px;
    text-decoration: none;
    margin-left: 30px;
    color: rgb(175, 209, 41);
    margin-bottom: 0px;
}
 

#laptop:hover,
#mouse:hover,
#keyboard:hover,
#headphone:hover,
#joystick:hover,
#xbox:hover,
#psp:hover,
#cd:hover {

    transform: scale(1.1);
    color: rgb(14, 149, 159);

}