.mainpage1 {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr)); 
    gap: 20px; 
   
    padding-top: 20px;
    box-sizing: border-box;
    max-width: calc(100% - 200px); 
}

.mainpage1 > * {
    box-sizing: border-box;
    
}
