.UserAdmin {
  display: flex;
 
}

/* Sidebar styles */
.sidebar {
  
  background-color: aqua;
  width: 250vh;
  height: 10vh;
 position: fixed;
 
 
 
}

/* Sidebar button styles */


#addBut{
  
  padding: 9px;
  margin: 10px 0;
  background-color: blue;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
#modBut{
  
  padding: 9px;
  margin: 10px 0;
  background-color: blue;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
#logBut{
  
 
  background-color: blue;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}




#addBut:hover,#modBut:hover,#logBut:hover {
  background-color: orange;
}

.main {
  flex: 1;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add space between cards */
}

.product-card {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: left;
}

.product-card img {
  max-width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 10px;
}
/* Message styling */
.message {
  color: red;
  font-size: 16px; 
  margin-bottom: 10px;
}

