.aboutdetails{
    margin-top:8.9vh;
    margin-left: -5vh;
    background-image: url('../Components/Images/about_pic.jpg');
   /* background-image: url('../Components/Images/about_pic.jpg');*/
    height: 91vh;
    position: fixed;
    width: 215.5vh;
    background-size: cover;
    align-items: center;
    display: grid; /* Enables Grid */
  place-items: center; /* Centers horizontally */
  
}
#head{

    margin-top: 4vh;
    text-align: center;
    color: rgb(169, 8, 181);

}
#mainhead{
    font-weight: 800;
    font-size: 30px;
    
}


#summary{
    font-weight: bold;
    color: rgb(0, 255, 47);
}

#serve{
    font-weight: bold;
    color: aqua;
}
.div78{
    margin-left: 30vh;
   
}

.div79{
    margin-left: 44vh;
    color: aqua;
}

.div80{
    margin-left: 44vh;
    color: aqua;
}

.div81{
    margin-left: 50vh;
    color: aqua;
}

.div82{
    margin-left: 43vh;
    margin-top: 3vh;
    color: aqua;
}

.div83{
    margin-left: 36vh;
    margin-top: 3vh;
    color: aqua;
}

