.forget-Password-main {
    background-color: rgb(255, 0, 0);
  margin-top: 13.5vh;
  margin-left: 0vh;
    height: 86.5vh;
  
    width: 210.5vh;
  
    position: fixed;
  
    background-image: url("../Components/Images/Register-pic.png");
    background-size: cover;
  }
  
  #forget-password-fieldset {
    height: 60vh;
    width: 32vw;
    margin-left: 69vh;
    margin-top: 10vh;
    border: none;
    position: relative;
    
  }
  .forget-overlay {
    background-color: rgba(255, 255, 255, 0.933);
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    
  }
  #forget-modify{
    margin-top: 10vh;
    z-index: 1;
    position: relative;
  }
  #forget-eye{
    height: 25px;
    margin-right: 5px;
  }

  #phone-head{
    text-align: center;
    font-family: sans-serif;
    margin-top: -5vh;
    font-weight: bold;
  }



/*Email css*/
  .email-forget{
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px;
    width: 25vw;
    margin-left: 55px;
    margin-top: 45px;
    transition: all 0.3s ease;
  }
  .email-forget:hover{
     border-color: #823ab6;
     transform: scale(1.1);
  }
  #forget-email {
    border: none;
    background-color: transparent;
    border: 3px solid rgb(0, 0, 0);
    margin-left: 10.5px;
    width: 335px;
    border-left: 2px solid rgb(0, 0, 0);
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px ;
    outline: none;
  
  }
  #forget-email:hover{
   border-color: #823ab6;
  }
 



/*Phone CSS*/

  .forget-phone{
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px;
    width: 25vw;
    margin-left: 55px;
    margin-top: 35px;
    transition: all 0.3s ease;
  }
  .forget-phone:hover{
     border-color: #823ab6;
     transform: scale(1.1);
  }
  #forget-phone-input {
    border: none;
    background-color: transparent;
    border: 3px solid rgb(0, 0, 0);
    margin-left: 10.5px;
    width: 335px;
    border-left: 2px solid rgb(0, 0, 0);
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px ;
    outline: none;
  
  }
  #forget-phone-input:hover{
   border-color: #823ab6;
  }


/*New Password Css*/
  
  .forget-password-all{
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px;
    width: 25vw;
    margin-left: 55px;
    margin-top: 35px;
    transition: all 0.3s ease;
  }
  .forget-password-all:hover{
     border-color: #823ab6;
     transform: scale(1.1);
  }
  #forget-password-input {
    border: none;
    background-color: transparent;
    border: 3px solid rgb(0, 0, 0);
    margin-left: 10.5px;
    width: 335px;
    border-left: 2px solid rgb(0, 0, 0);
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px ;
    outline: none;
  
  }
  #forget-password-input:hover{
   border-color: #823ab6;
  }


  #forget-submit {
    margin-left: 55px;
    margin-top: 5vh;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #ff512f, #f09819);
    border-radius: 6px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 25.5vw;
    height: 30px;
  }
  
  #forget-submit:hover {
    transform: scale(1.05);
    color: rgb(62, 23, 23);
    background: linear-gradient(to right, #f09819, #ff512f); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
  #forget-icon{
    margin-left:5px;
  }


  #forget-phone-error{
    color: red;
    margin-left: 50px;
    font-size: 13px;
  }
  #forget-email-error{
    color: red;
    margin-left: 50px;
    font-size: 13px;
  }
  #forget-password-error{
    color: red;
    margin-left: 50px;
    font-size: 13px;
  }